<div class="graph-modal">
  <div class="graph-modal__container graph-modal__container--card" role="dialog" aria-modal="true"
    data-graph-target="product-modal">
    <button class="btn-reset graph-modal__close graph-modal__close--card" aria-label="Закрыть модальное окно">

    </button>
    <div class="graph-modal__content graph-modal__content--card">
      <section class="card">
        <div class="card__top">
          <button class="card__prev btn-reset hover-string">Back</button>
          <button class="card__next btn-reset hover-string">Forward</button>
        </div>
        <article class="card__inner card-item" data-id="01">
          <div class="card-item__image-wrapper">
            <picture>
              <source srcset="./img/dishes/dishes-3.avif" type="image/avif">
              <source srcset="./img/dishes/dishes-3.webp" type="image/webp">
              <img class="card-item__image" loading="lazy" src="./img/dishes/dishes-3.png" class="image"
                alt="Philadelphia and salmon set">
            </picture>
          </div>
          <div class="card-item__content">
            <h2 class="card-item__title">
              Philadelphia and salmon set
            </h2>
            <p class="card-item__info">
              1290 grams
              <span class="card-item__info-piaces">
                36 pieces
              </span>
            </p>
            <div class="card-item__price">
              350 UAH
            </div>
            <div class="card-item__counter">
              <div class="card-item__counter counter">
                <button class="counter__minus btn-reset"></button>
                <span class="counter__items">
                  1
                </span>
                <button class="counter__plus btn-reset"></button>
              </div>
            </div>
            <div class="card-item__composition">
              Compound
              <p class="card-item__composition-list">
                Salmon, Philadelphia cheese, cucumber, avocado
              </p>
            </div>
            <button class="card-item__button button btn-reset">
              Want!
            </button>
          </div>
        </article>

        <div class="card__recomendation recomendation">
          <div class="recomendation__title">
            Recommended for this product
          </div>
          <div class="recomendation__slider-wrapper">
            <div class="swiper recomendation__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <article class="recomendation__card recomendation-card">
                    <div class="recomendation-card__image-wrapper">
                      <picture>
                        <source srcset="./img/recomendation/recomendation-1.avif" type="image/avif">
                        <source srcset="./img/recomendation/recomendation-1.webp" type="image/webp">
                        <img class="recomandation-card__image" loading="lazy"
                          src="./img/recomendation/recomendation-1.jpg" class="image" alt="Philadelphia">
                      </picture>
                    </div>
                    <h3 class="recomendation-card__title">
                      Philadelphia
                    </h3>
                    <div class="recomendation-card__price-wrapper">
                      <span class="recomendation-card__price">
                        100 UAH
                      </span>
                      <button class="recomendation-card__plus btn-reset"></button>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article class="recomendation__card recomendation-card">
                    <div class="recomendation-card__image-wrapper">
                      <picture>
                        <source srcset="./img/recomendation/recomendation-1.avif" type="image/avif">
                        <source srcset="./img/recomendation/recomendation-1.webp" type="image/webp">
                        <img class="recomandation-card__image" loading="lazy"
                          src="./img/recomendation/recomendation-1.jpg" class="image" alt="Philadelphia">
                      </picture>
                    </div>
                    <h3 class="recomendation-card__title">
                      Philadelphia
                    </h3>
                    <div class="recomendation-card__price-wrapper">
                      <span class="recomendation-card__price">
                        100 UAH
                      </span>
                      <button class="recomendation-card__plus btn-reset"></button>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article class="recomendation__card recomendation-card">
                    <div class="recomendation-card__image-wrapper">
                      <picture>
                        <source srcset="./img/recomendation/recomendation-1.avif" type="image/avif">
                        <source srcset="./img/recomendation/recomendation-1.webp" type="image/webp">
                        <img class="recomandation-card__image" loading="lazy"
                          src="./img/recomendation/recomendation-1.jpg" class="image" alt="Philadelphia">
                      </picture>
                    </div>
                    <h3 class="recomendation-card__title">
                      Philadelphia
                    </h3>
                    <div class="recomendation-card__price-wrapper">
                      <span class="recomendation-card__price">
                        100 UAH
                      </span>
                      <button class="recomendation-card__plus btn-reset"></button>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide">
                  <article class="recomendation__card recomendation-card">
                    <div class="recomendation-card__image-wrapper">
                      <picture>
                        <source srcset="./img/recomendation/recomendation-1.avif" type="image/avif">
                        <source srcset="./img/recomendation/recomendation-1.webp" type="image/webp">
                        <img class="recomandation-card__image" loading="lazy"
                          src="./img/recomendation/recomendation-1.jpg" class="image" alt="Philadelphia">
                      </picture>
                    </div>
                    <h3 class="recomendation-card__title">
                      Philadelphia
                    </h3>
                    <div class="recomendation-card__price-wrapper">
                      <span class="recomendation-card__price">
                        100 UAH
                      </span>
                      <button class="recomendation-card__plus btn-reset"></button>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
