<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__part">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link hover-string" href="#">
            О компании
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link hover-string" href="#">
            Доставка и оплата
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link hover-string" href="#">
            Лента материалов
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link hover-string" href="#">
            Политика возврата
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__part">
      <form action="#" class="footer__form">
        <legend class="footer__legend">
          Введите номер
        </legend>
        <input class="footer__input" name="footer-tel" id="footer-input" type="tel" placeholder="+996 (__) ___ __ __"
          required>
        <span class="footer__messenger-capture">
          Выберите удобный
          мессенджер для общения
        </span>
        <ul class="footer__messenger-list">
          <li class="footer__messenger-item">
            <label class="footer__messenger-label custom-checkbox" aria-label="whatsapp">
              <input name="social" type="radio" class="custom-checkbox__field">
              <span class="custom-checkbox__content custom-checkbox__content--whatsapp">

              </span>
            </label>
          </li>
          <li class="footer__messenger-item">
            <label class="footer__messenger-label custom-checkbox" aria-label="telegram">
              <input name="social" type="radio" class="custom-checkbox__field">
              <span class="custom-checkbox__content custom-checkbox__content--telegram"></span>
            </label>
          </li>
          <li class="footer__messenger-item">
            <label class="footer__messenger-label custom-checkbox" aria-label="instagram">
              <input name="social" type="radio" class="custom-checkbox__field">
              <span class="custom-checkbox__content custom-checkbox__content--instagram"></span>
            </label>
          </li>
        </ul>
      </form>
    </div>
    <div class="footer__part">
      <address class="footer__info">
        <a class="footer__phone hover-string" href="tel:+996705188955">
          Тел: <span>+996 705 188 955</span>
        </a>
        <a class="footer__phone hover-string" href="tel:+996705188955">
          Тел: <span>+996 705 188 955</span>
        </a>
        <span class="footer__address">
          Адрес:Бакаева 126
        </span>
      </address>
    </div>
  </div>
</footer>
<div class="small-nav">
  <ul class="small-nav__list">
    <li class="small-nav__menu-item">
      <button class="small-nav__button small-nav__button--menu btn-reset" type="button">
        <svg class="">
          <use xlink:href="img/sprite.svg#footer-menu"></use>
        </svg>
        Меню
      </button>
    </li>
    <li class="small-nav__menu-item">
      <button class="small-nav__button small-nav__button--basket btn-reset" type="button">
        <svg class="">
          <use xlink:href="img/sprite.svg#footer-thrasher"></use>
        </svg>
        Корзина
      </button>
    </li>
    <li class="small-nav__menu-item">
      <button class="small-nav__button btn-reset" type="button">
        <svg class="">
          <use xlink:href="img/sprite.svg#footer-reviews"></use>
        </svg>
        Отзывы
      </button>
    </li>
  </ul>
</div>
