<header class="header @modificate">
  <div class="container header__container">
    <a class="header__logo logo logo--mini" href="./index.html">
      <img class="logo__image" src="./img/logo-mini.png" alt="ROMSEM логотип">
    </a>
    <a class="header__back" href="./gallery.html">
      Продолжить выбор
    </a>
    <div class="header__side">
      <div class="header__phones">
        <span>Наш телефон</span>
        <a class="header__phone" href="tel:+996705188955">+996 705 188 955</a>
        <a class="header__phone" href="tel:+996705188955">+996 705 188 955</a>
      </div>
      <div class="header__timetable">
        работаем с 10:00 до 00:00
      </div>
    </div>
    <div class="header__main">
      <div class="header__sity">
        Город:
        <span>Бишкек</span>
      </div>
      <a class="header__review hover-string" href="./reviews.html">
        Отзывы
      </a>
      <button class="header__order btn-reset hover-string">
        Доставка и оплата
      </button>
      <form class="header__search search" action="#">
        <button class="search__button btn-reset" type="button">
        </button>
        <label class="search__label">
          <input class="search__input" type="text">
        </label>
      </form>
    </div>
  </div>
</header>
