<section class="hero-gallery">
  <ul class="hero-gallery__list list-reset">
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-1.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-1.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-1.jpg" class="image" alt="Chicken">
        </picture>
        <span class="hero-gallery__item-name">Chicken</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-2.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-2.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-2.jpg" class="image" alt="With eel">
        </picture>
        <span class="hero-gallery__item-name">With eel</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-3.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-3.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-3.jpg" class="image" alt="Corn dog">
        </picture>
        <span class="hero-gallery__item-name">Corn dog</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-4.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-4.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-4.jpg" class="image" alt="Pizza">
        </picture>
        <span class="hero-gallery__item-name">Pizza</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-5.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-5.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-5.jpg" class="image" alt="Stock">
        </picture>
        <span class="hero-gallery__item-name">Stock</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-8.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-8.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-8.jpg" class="image" alt="Salads">
        </picture>
        <span class="hero-gallery__item-name">Salads</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-9.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-9.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-9.jpg" class="image" alt="Beverages">
        </picture>
        <span class="hero-gallery__item-name">Beverages</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-10.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-10.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-10.jpg" class="image" alt="Combo">
        </picture>
        <span class="hero-gallery__item-name">Combo</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-5.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-5.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-5.jpg" class="image" alt="With eel">
        </picture>
        <span class="hero-gallery__item-name">With eel</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-3.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-3.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-3.jpg" class="image" alt="WOK">
        </picture>
        <span class="hero-gallery__item-name">WOK</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-6.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-6.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-6.jpg" class="image" alt="Sushi">
        </picture>
        <span class="hero-gallery__item-name">Sushi</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-11.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-11.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-11.jpg" class="image" alt="Sets">
        </picture>
        <span class="hero-gallery__item-name">Sets</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-10.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-10.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-10.jpg" class="image" alt="Rolls">
        </picture>
        <span class="hero-gallery__item-name">Rolls</span>
      </a>
    </li>
  </ul>
</section>
