<section class="hero-gallery">
  <ul class="hero-gallery__list list-reset">
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-1.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-1.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-1.jpg" class="image" alt="Чикен">
        </picture>
        <span class="hero-gallery__item-name">Чикен</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-2.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-2.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-2.jpg" class="image" alt="С угрем">
        </picture>
        <span class="hero-gallery__item-name">С угрем</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-3.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-3.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-3.jpg" class="image" alt="Корн дог">
        </picture>
        <span class="hero-gallery__item-name">Корн дог</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-4.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-4.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-4.jpg" class="image" alt="Пицца">
        </picture>
        <span class="hero-gallery__item-name">Пицца</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-5.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-5.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-5.jpg" class="image" alt="Акции">
        </picture>
        <span class="hero-gallery__item-name">Акции</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-8.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-8.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-8.jpg" class="image" alt="Салаты">
        </picture>
        <span class="hero-gallery__item-name">Салаты</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-9.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-9.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-9.jpg" class="image" alt="НАпитки">
        </picture>
        <span class="hero-gallery__item-name">Напитки</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-10.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-10.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-10.jpg" class="image" alt="Комбо">
        </picture>
        <span class="hero-gallery__item-name">Комбо</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-5.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-5.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-5.jpg" class="image" alt="С угрем">
        </picture>
        <span class="hero-gallery__item-name">С угрем</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-3.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-3.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-3.jpg" class="image" alt="WOK">
        </picture>
        <span class="hero-gallery__item-name">WOK</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-6.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-6.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-6.jpg" class="image" alt="Суши">
        </picture>
        <span class="hero-gallery__item-name">Суши</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-11.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-11.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-11.jpg" class="image" alt="Сеты">
        </picture>
        <span class="hero-gallery__item-name">Сеты</span>
      </a>
    </li>
    <li class="hero-gallery__item">
      <a class="hero-gallery__link" href="#">
        <picture>
          <source srcset="./img/gallery/gallery-10.avif" type="image/avif">
          <source srcset="./img/gallery/gallery-10.webp" type="image/webp">
          <img loading="lazy" src="./img/gallery/gallery-10.jpg" class="image" alt="Роллы">
        </picture>
        <span class="hero-gallery__item-name">Роллы</span>
      </a>
    </li>
  </ul>
</section>
