<section class="hero-slider">
  <h1 class="visually-hidden">Romsem, доствака суши</h1>
  <div class="swiper hero-slider__wrapper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero-slider__item" style="background-image: url('./img/dishes/dishes-2.png');"
          aria-label="название блюда">
          <h2 class="hero-slider__title">
            "Филадельфия и лосось"
          </h2>
          <span class="hero-slider__info">
            1260 грамм 36 кусочек
          </span>
          <div class="hero-slider__old-price">
            1599 <span>COM</span>
          </div>
          <div class="hero-slider__new-price">
            599 <span>COM</span>
          </div>
          <a class="hero-slider__button button btn-reset" href="#">
            Хочу!
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-slider__item" style="background-image: url('./img/dishes/dishes-2.png');"
          aria-label="название блюда">
          <h2 class="hero-slider__title">
            "Филадельфия и лосось"
          </h2>
          <span class="hero-slider__info">
            1260 грамм 36 кусочек
          </span>
          <div class="hero-slider__old-price">
            1599 <span>COM</span>
          </div>
          <div class="hero-slider__new-price">
            599 <span>COM</span>
          </div>
          <div class="hero-slider__button button btn-reset">
            Хочу!
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-slider__item" style="background-image: url('./img/dishes/dishes-2.png');"
          aria-label="название блюда">
          <h2 class="hero-slider__title">
            "Филадельфия и лосось"
          </h2>
          <span class="hero-slider__info">
            1260 грамм 36 кусочек
          </span>
          <div class="hero-slider__old-price">
            1599 <span>COM</span>
          </div>
          <div class="hero-slider__new-price">
            599 <span>COM</span>
          </div>
          <div class="hero-slider__button button btn-reset">
            Хочу!
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-slider__item" style="background-image: url('./img/dishes/dishes-2.png');"
          aria-label="название блюда">
          <h2 class="hero-slider__title">
            "Филадельфия и лосось"
          </h2>
          <span class="hero-slider__info">
            1260 грамм 36 кусочек
          </span>
          <div class="hero-slider__old-price">
            1599 <span>COM</span>
          </div>
          <div class="hero-slider__new-price">
            599 <span>COM</span>
          </div>
          <div class="hero-slider__button button btn-reset">
            Хочу!
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-slider__item" style="background-image: url('./img/dishes/dishes-2.png');"
          aria-label="название блюда">
          <h2 class="hero-slider__title">
            "Филадельфия и лосось"
          </h2>
          <span class="hero-slider__info">
            1260 грамм 36 кусочек
          </span>
          <div class="hero-slider__old-price">
            1599 <span>COM</span>
          </div>
          <div class="hero-slider__new-price">
            599 <span>COM</span>
          </div>
          <div class="hero-slider__button button btn-reset">
            Хочу!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-slider__pagination"></div>
</section>
