<div class="info">
  <h2 class="info__title">
    Заказать суши в Бишкеке
  </h2>
  <div class="info__content-wrapper">
    <div class="info__content">
      <p>
        Ресторан “Суши и Лапша” предлагаем своим клиентам самые вкусные суши с доставкой на дом, приготовленные по
        классическим и адаптированным к европейской аудитории рецептам, а также собственным наработкам наших поваров. Мы
        ценим время наших клиентов, поэтому вы можете заказать суши в Харькове с доставкой на дом или в офис.
      </p>
      <p>
        Ресторан “Суши и Лапша” предлагаем своим клиентам самые вкусные суши с доставкой на дом, приготовленные по
        классическим и адаптированным к европейской аудитории рецептам, а также собственным наработкам наших поваров. Мы
        ценим время наших клиентов, поэтому вы можете заказать суши в Харькове с доставкой на дом или в офис.
      </p>
      <h3>В нашем меню более 20 видов суши:</h3>
      <ul>
        <li>Классические с сырым лососем, тунцом, окунем.</li>
        <li>Экзотические с тигровой креветкой, морским гребешком.</li>
        <li>Пикантные с копченым лососем, угрем.</li>
      </ul>
      <p>
        В меню также представлены гунканы: с начинкой из красной икры и тобико, а также феликсы, где японский майонез
        сочетается с рыбой, морепродуктами, угрем. Любители острых блюд могут купить суши с соусом спайси. Популярные
        начинки — копченая курица, снежный краб, креветки, гребешки, тунец, лосось и окунь.
      </p>
    </div>
  </div>
  <div class="info__more-wrapper">
    <button class="info__more btn-reset">
      Подробнее
    </button>
  </div>
</div>
