<div class="info">
  <h2 class="info__title">
    Order sushi in Kyiv
  </h2>
  <div class="info__content-wrapper">
    <div class="info__content">
      <p>
        Restaurant "Sushi and Noodles" offer our customers the most delicious sushi with home delivery, cooked according
        to classic and adapted to the European audience recipes, as well as our chefs' own developments. We
        we value the time of our customers, so you can order sushi in Kharkov with home or office delivery.
      </p>
      <p>
        Restaurant "Sushi and Noodles" offer our customers the most delicious sushi with home delivery, cooked according
        to
        classic and adapted to the European audience recipes, as well as our chefs' own developments. We
        we value the time of our customers, so you can order sushi in Kharkov with home or office delivery.
      </p>
      <h3>There are more than 20 types of sushi in our menu:</h3>
      <ul>
        <li>Classic with raw salmon, tuna, perch.</li>
        <li>Exotic with tiger shrimp, scallop.</li>
        <li>Spicy with smoked salmon, eel.</li>
      </ul>
      <p>
        The menu also features gunkans: stuffed with red caviar and tobiko, as well as felix, where Japanese mayonnaise
        combined with fish, seafood, eel. Fans of spicy dishes can buy sushi with spicy sauce. Popular
        toppings - smoked chicken, snow crab, shrimp, scallops, tuna, salmon and perch.
      </p>
    </div>
  </div>
  <div class="info__more-wrapper">
    <button class="info__more btn-reset">
      More
    </button>
  </div>
</div>
