<aside class="left-aside">
  <button class="left-aside__close" type="button"></button>
  <a class="left-aside__logo logo" href="./index.html">
    <img class="logo__image" src="./img/logo.svg" alt="ROMSEM доставка суши">
  </a>
  <nav class="left-aside__nav nav" title="Выбор меню">
    <ul class="nav__list list-reset">
      <li class="nav__item">
        <a href="./gallery.html" class="nav__link nav__link--pizza hover-string">
          Pizza
        </a>
      </li>
      <li class="nav__item">
        <a href="./gallery.html" class="nav__link nav__link--sets hover-string">
          Sets
        </a>
      </li>
      <li class="nav__item">
        <a href="./gallery.html" class="nav__link nav__link--wok hover-string">
          WOK
        </a>
      </li>
      <li class="nav__item">
        <a href="./gallery.html" class="nav__link nav__link--rolls hover-string">
          Rolls
        </a>
      </li>
      <li class="nav__item">
        <a href="./gallery.html" class="nav__link nav__link--sushi hover-string">
          Sushi
        </a>
      </li>
      <li class="nav__item nav__item--soon">
        <a href="./gallery.html" class="nav__link nav__link--salat hover-string">
          Salads
        </a>
      </li>
      <li class="nav__item nav__item--soon">
        <a href="./gallery.html" class="nav__link nav__link--soup hover-string">
          Soups
        </a>
      </li>
      <li class="nav__item">
        <a href="./gallery.html" class="nav__link nav__link--korndog hover-string">
          Corn dogs
        </a>
      </li>
      <li class="nav__item">
        <a href="./gallery.html" class="nav__link nav__link--drinks hover-string">
          Drinks
        </a>
      </li>
      <li class="nav__item">
        <a href="./gallery.html" class="nav__link nav__link--discount hover-string">
          Stocks
        </a>
      </li>
    </ul>
    </ul>
  </nav>
</aside>
