<section class="menu">
  <div class="menu__top">
    <a class="menu__top-item menu__top-item--active hover-string" href="#">
      New
    </a>
    <a class="menu__top-item hover-string" href="#">
      Popular
    </a>
  </div>
  <div class="swiper menu__slider menu-slider">
    <div class="swiper-wrapper menu-card-wrapper">
      <div class="swiper-slide menu-card-item">
        <article class="menu-slider__item menu-card" data-id="01">
          <picture>
            <source srcset="./img/dishes/dishes-3.avif" type="image/avif">
            <source srcset="./img/dishes/dishes-3.webp" type="image/webp">
            <img class="menu-card__image" loading="lazy" src="./img/dishes/dishes-3.png" class="image"
              alt="Philadelphia set">
          </picture>
          <h3 class="menu-card__title">
            Philadelphia set
          </h3>
          <span class="menu-card__info">
            1050 grams, 30 pieces
          </span>
          <div class="menu-card__bottom">
            <span class="menu-card__price">
              350 UAH
            </span>
            <button class="menu-card__link button btn-reset" data-graph-path="product-modal">
              Want!
              </buuton>
          </div>
        </article>
      </div>
      <div class="swiper-slide menu-card-item">
        <article class="menu-slider__item menu-card" data-id="02">
          <picture>
            <source srcset="./img/dishes/dishes-4.avif" type="image/avif">
            <source srcset="./img/dishes/dishes-4.webp" type="image/webp">
            <img class="menu-card__image" loading="lazy" src="./img/dishes/dishes-4.png" class="image"
              alt="Solomon set">
          </picture>
          <h3 class="menu-card__title">
            Solomon set
          </h3>
          <span class="menu-card__info">
            1050 grams, 30 pieces
          </span>
          <div class="menu-card__bottom">
            <span class="menu-card__price">
              300 UAH
            </span>
            <button class="menu-card__link button btn-reset" data-graph-path="product-modal">
              Want!
            </button>
          </div>
        </article>
      </div>
      <div class="swiper-slide menu-card-item">
        <article class="menu-slider__item menu-card" data-id="03">
          <picture>
            <source srcset="./img/dishes/dishes-5.avif" type="image/avif">
            <source srcset="./img/dishes/dishes-5.webp" type="image/webp">
            <img class="menu-card__image" loading="lazy" src="./img/dishes/dishes-5.png" class="image" alt="Royal set">
          </picture>
          <h3 class="menu-card__title">
            Royal set
          </h3>
          <span class="menu-card__info">
            1050 grams, 30 pieces
          </span>
          <div class="menu-card__bottom">
            <span class="menu-card__price">
              350 UAH
            </span>
            <button class="menu-card__link button btn-reset" data-graph-path="product-modal">
              Want!
            </button>
          </div>
        </article>
      </div>
      <div class="swiper-slide menu-card-item">
        <article class="menu-slider__item menu-card" data-id="04">
          <picture>
            <source srcset="./img/dishes/dishes-3.avif" type="image/avif">
            <source srcset="./img/dishes/dishes-3.webp" type="image/webp">
            <img class="menu-card__image" loading="lazy" src="./img/dishes/dishes-3.png" class="image"
              alt="Eastern set">
          </picture>
          <h3 class="menu-card__title">
            Eastern set
          </h3>
          <span class="menu-card__info">
            1050 grams, 30 pieces
          </span>
          <div class="menu-card__bottom">
            <span class="menu-card__price">
              300 UAH
            </span>
            <button class="menu-card__link button btn-reset" data-graph-path="product-modal">
              Want!
            </button>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="menu-slider__item menu-card">
          <picture>
            <source srcset="./img/dishes/dishes-4.avif" type="image/avif">
            <source srcset="./img/dishes/dishes-4.webp" type="image/webp">
            <img class="menu-card__image" loading="lazy" src="./img/dishes/dishes-4.png" class="image"
              alt="Solomon set">
          </picture>
          <h3 class="menu-card__title">
            Solomon set
          </h3>
          <span class="menu-card__info">
            1050 grams, 30 pieces
          </span>
          <div class="menu-card__bottom">
            <span class="menu-card__price">
              300 UAH
            </span>
            <button class="menu-card__link button btn-reset" data-graph-path="product-modal">
              Want!
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>
