<section class="menu">
  <div class="menu__top">
    <a class="menu__top-item menu__top-item--active hover-string" href="#">
      Новинки
    </a>
    <a class="menu__top-item hover-string" href="#">
      Популярное
    </a>
  </div>
  <div class="swiper menu__slider menu-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <article class="menu-slider__item menu-card">
          <picture>
            <source srcset="../img/dishes/dishes-3.avif" type="image/avif">
            <source srcset="../img/dishes/dishes-3.webp" type="image/webp">
            <img class="menu-card__image" loading="lazy" src="../img/dishes/dishes-3.png" class="image"
              alt="Саломон сет">
          </picture>
          <h3 class="menu-card__title">
            Саломон сет
          </h3>
          <span class="menu-card__info">
            1050 грамм, 30 кусочков
          </span>
          <div class="menu-card__bottom">
            <span class="menu-card__price">
              1500 СОМ
            </span>
            <a class="menu-card__link button" href="#">
              Хочу!
            </a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="menu-slider__item menu-card">
          <picture>
            <source srcset="../img/dishes/dishes-4.avif" type="image/avif">
            <source srcset="../img/dishes/dishes-4.webp" type="image/webp">
            <img class="menu-card__image" loading="lazy" src="../img/dishes/dishes-4.png" class="image"
              alt="Саломон сет">
          </picture>
          <h3 class="menu-card__title">
            Саломон сет
          </h3>
          <span class="menu-card__info">
            1050 грамм, 30 кусочков
          </span>
          <div class="menu-card__bottom">
            <span class="menu-card__price">
              1500 СОМ
            </span>
            <a class="menu-card__link button" href="#">
              Хочу!
            </a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="menu-slider__item menu-card">
          <picture>
            <source srcset="../img/dishes/dishes-5.avif" type="image/avif">
            <source srcset="../img/dishes/dishes-5.webp" type="image/webp">
            <img class="menu-card__image" loading="lazy" src="../img/dishes/dishes-5.png" class="image"
              alt="Саломон сет">
          </picture>
          <h3 class="menu-card__title">
            Саломон сет
          </h3>
          <span class="menu-card__info">
            1050 грамм, 30 кусочков
          </span>
          <div class="menu-card__bottom">
            <span class="menu-card__price">
              1500 СОМ
            </span>
            <a class="menu-card__link button" href="#">
              Хочу!
            </a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="menu-slider__item menu-card">
          <picture>
            <source srcset="../img/dishes/dishes-3.avif" type="image/avif">
            <source srcset="../img/dishes/dishes-3.webp" type="image/webp">
            <img class="menu-card__image" loading="lazy" src="../img/dishes/dishes-3.png" class="image"
              alt="Саломон сет">
          </picture>
          <h3 class="menu-card__title">
            Саломон сет
          </h3>
          <span class="menu-card__info">
            1050 грамм, 30 кусочков
          </span>
          <div class="menu-card__bottom">
            <span class="menu-card__price">
              1500 СОМ
            </span>
            <a class="menu-card__link button" href="#">
              Хочу!
            </a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="menu-slider__item menu-card">
          <picture>
            <source srcset="../img/dishes/dishes-4.avif" type="image/avif">
            <source srcset="../img/dishes/dishes-4.webp" type="image/webp">
            <img class="menu-card__image" loading="lazy" src="../img/dishes/dishes-4.png" class="image"
              alt="Саломон сет">
          </picture>
          <h3 class="menu-card__title">
            Саломон сет
          </h3>
          <span class="menu-card__info">
            1050 грамм, 30 кусочков
          </span>
          <div class="menu-card__bottom">
            <span class="menu-card__price">
              1500 СОМ
            </span>
            <a class="menu-card__link button" href="#">
              Хочу!
            </a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>
