<div class="right-aside">
  <button class="right-aside__close" type="button"></button>
  <div class="right-aside__basket basket">
    <div class="basket__note">
      <span class="basket__note-title">Ваша корзина пуста.</span>
      <span class="basket__note-subtitle">Добавьте же скорее что-нибудь!</span>
      <div class="basket__note-delivery">
        Бесплатная доставка от 3000 СОМ
      </div>
    </div>
    <div class="basket__order">
      <div class="basket__list">
      </div>
      <div class="basket__result">
        <ul class="basket__result-list">
          <li class="basket__result-item">
            <span class="basket__result-left"><span class="basket__result-amount">0</span> товар</span>
            <span class="basket__result-right basket__result-right--price"><span class="basket__result-price">0</span>
              СОМ</span>
          </li>
          <li class="basket__result-item">
            <span class="basket__result-left">Скидка</span>
            <span class="basket__result-right basket__result-right--discount">0</span>
          </li>
          <li class="basket__result-item">
            <span class="basket__result-left">Доставка</span>
            <span class="basket__result-right">
              <span class="basket__result-delivery">150 COM</span>
              <span class="basket__result-delivery-free">Бесплатно</span>
            </span>
          </li>
          <li class="basket__result-item">
            <span class="basket__result-left">Итого</span>
            <span class="basket__result-right"><span class="basket__result-right-price">0</span> СОМ</span>
          </li>
        </ul>
        <div class="basket__result-bottom">
          <span class="basket__cost">
            <span class="basket__cost-text">0</span> <span>СОМ</span>
          </span>
          <a class="basket__button button btn-reset" href="./order-page.html">
            Оформить заказ
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <div class="map__wrapper">
      <picture>
        <source srcset="./img/map.avif" type="image/avif">
        <source srcset="./img/map.webp" type="image/webp">
        <img loading="lazy" src="./img/map.jpg." class="image" alt="карта">
      </picture>
    </div>
    <div class="map__note">
      Укажите адрес
      <span>И узнайте время доставки</span>
    </div>
  </div>
  <button class="right-aside__up-button up-button btn-reset">
    <span class="visually-hidden">Поднятся вверх к корзине</span>
    <span class="right-aside__up-button up-button__counter">0</span>
    <svg class="">
      <use xlink:href="img/sprite.svg#footer-thrasher"></use>
    </svg>
  </button>
</div>
